.main {
    height: 90vh;
    background-image: url(../../public/Home-background.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.main__title {
    color: white;
    text-shadow: 0px 0px 10px black;
    text-align: center;
}

.main__text {
    color: white;
    text-shadow: 0px 0px 10px black;
    text-align: center;
    max-width: 400px;
    font-size: 1.2rem;
    font-weight: 600;
}

.main__link{
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 10px black;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}

.main__link:hover {
    text-decoration: underline;
    color: #BBE5ED;
}