.card {
    width: 200px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
    transition: transform 0.3s ease;
    background-color: white;
}

.card:hover {
    transform: scale(1.01);
}

.card__image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card__title {
    margin: 0px 5px 5px 5px;
}

.card__text {
    margin: 0px 5px 5px 5px;
}

.card__button {
    width: 100%;
    background-color: #801A86;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}

.card__button {
    width: 100%;
    background-color: #801A86;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}

.card__button:hover{
    background-color: #6f1674;
}