.main {
    height: 90vh;
    width: 100%;
    background-image: url(../../../public/Home-background.jpg);
    background-size: cover;
    background-position: center center;
}

.main__container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}