.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #041B15;
    color: white;
}

.header__title {
    color: #BBE5ED;
}

.header__nav {
    display: flex;
    gap: 20px;
    margin-inline: 10px;
}

.header__link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.header__link:hover {
    color: #BBE5ED;
}

